.bodyofcard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    padding-top: 100px;
    align-content:space-around;
    /* padding-bottom: 100px; */
    
}
.button{
    margin-top: 100px;
}
.card1{
    width: 250px;
    background-color: #27cb9a;
    border-top: 15px solid #83e7da;
    border-radius: 13px;
    height: 250px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 30px
}